<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Task</title>
</head>
<body>
<main>
    <h1>Update Task</h1>
    <form method="post" th:object="${task}">
        <fieldset>
            <p>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" th:field="*{title}">
            </p>
            <p th:errors="*{title}"></p>
            <p>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" th:field="*{description}">
            </p>
            <p th:errors="*{description}"></p>
            <p>
                <label for="dueDate">Due date:</label>
                <input type="datetime-local" id="dueDate" name="dueDate" th:field="*{dueDate}">
            </p>
            <p th:errors="*{dueDate}"></p>
        </fieldset>
        <p>
            <input type="submit" value="Submit" id="submit">
        </p>
    </form>
</main>
<footer>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</footer>
</body>
</html>